# Dados do ADMIN inicial
ADMIN_NOME_COMPLETO=  # Nome completo do admin inicial
ADMIN_EMAIL=          # E-mail do admin inicial
ADMIN_SENHA=          # Senha do admin inicial

# Configurações do JWT
JWT_SECRET_KEY=       # Chave secreta para geração dos tokens JWT
JWT_ALGORITHM=        # Algoritmo do JWT (ex: HS256)
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=  # Tempo de expiração do token JWT (em minutos)

# Configurações do Banco de Dados
DATABASE_URL=         # URL de conexão com o banco de dados
POSTGRES_USER=        # Usuário do banco de dados PostgreSQL
POSTGRES_PASSWORD=    # Senha do banco de dados PostgreSQL
POSTGRES_DB=          # Nome do banco de dados PostgreSQL
POSTGRES_HOST=        # Host do banco de dados PostgreSQL
POSTGRES_PORT=        # Porta do banco de dados PostgreSQL

# Configurações da API
API_HOST=             # Host da API
API_PORT=             # Porta da API 